@charset 'UTF-8';
/* Slider */
/* Icons */
@font-face{
    font-family: 'slick';
			src: url('../fonts/slick.woff') format('woff');
				font-weight: normal;
				font-style: normal;
	}
	
/* Arrows */
.slick-prev, .slick-next{
    position: absolute;
    top: 40%;
    display: block;
    padding: 0;
    margin-top: -22px;
	outline:none;
	border:none;
	z-index:2;
	cursor:pointer;
	width:25px;
	height:45px;
	}
.slick-prev {
	left:-1%;
	background: url(../img/arw-lft.png) no-repeat top center;
	background-size:100%;
}
.slick-next {
	right:-1%;
	background: url(../img/arw-rit.png) no-repeat top center;
	background-size:100%;
}


ul.slick-dots{
	width:100%;
	text-align:center;
	margin:0 auto;
	position:relative;
	z-index:10;
	}
ul.slick-dots li{
	display:inline-block;
	margin:30px 4px 0 4px;
	}
.dotss{
	height:18px;
	width:18px;
	background:#cadfb1;
	outline:none;
	cursor:pointer;
	border-radius:50%;
	border:none;
	padding:0;
	}
ul.slick-dots li.slick-active button{background:#229802;}
@media only screen and (max-width:1200px){
.slick-prev {
	left:0%;
}
.slick-next {
	right:0%;
}
}
@media only screen and (max-width:1023px){
ul.slick-dots {
	margin: 20px auto 0;
}
}
@media only screen and (max-width:767px){
ul.slick-dots li {
	margin: 10px 4px 0 4px;
}
.slick-prev, .slick-next {
    margin-top: -13px;
    width: 20px;
    height: 36px;
	background-size:100%;	
}	
}
	



